.DS_Store
package-lock.json

build/data/0p.ks
build/data/p.ks
build/data/2p.ks
build/data/3p.ks
build/data/4p.ks

build/data/0p.compressed.ks
build/data/p.compressed.ks
build/data/2p.compressed.ks
build/data/3p.compressed.ks
build/data/4p.compressed.ks

build/data0/
build/lengths0/
build/lengths/p.json
build/lengths/*p.json

node_modules
build/*.js
build/*.js.map
gh-pages/
release/
coverage
*~
