.extent {
  /* Brushes */
  fill: grey;
  opacity: .2;
}
.domain {
  /* Plot "dodotplot." This controls the axis lines on the histograms and the
 * box around the dotplot */
  fill: none;
  stroke: black;
}
#dotplot-canvas {
  /* The float and position properties here are some sort of black magic to
   * get the canvas and svg to sit on top of each other. */
  float: left;
  position: absolute;
}
#dotplot {
  float: left;
  position: absolute;
  width: 50%;
  height: 85%;
}
#dotplot .tick line {
  /* chromosome boundary lines in dotplot */
  stroke: grey;
}
#histogram-wrapper {
  float: right;
  width: 50%;
}
.histogram {
  width: 100%;
  height: 30%;
}
.histogram .histogram-title {
  font-size: 14pt;
}
.histogram .tick line {
  /* axis ticks for histograms */
  stroke: grey;
}
#form-wrapper {
  position: absolute;
  bottom: 10;
  left: 10;
  width: 50%;
  height: 12%
}
form {
  display: inline;
}

