/* Global rules */

/* Brushes */
._synteny-dotplot-builder .extent {
  fill: grey;
  opacity: .2;
}
/* axes */
._synteny-dotplot-builder .domain {
  fill: none;
  stroke: black;
}


/* Dot plot */

/* The float and position properties here are black magic to get the 
 * canvas and svg to sit on top of each other. */
._synteny-dotplot-builder .dotplot {
  float: left;
  position: absolute;
}
._synteny-dotplot-builder #dotplot {
  width: 50%;
  height: 100%;
}
/* chromosome boundary lines in dotplot */
._synteny-dotplot-builder #dotplot .tick line {
  stroke: rgba(0,0,0, 0.25);
}


/* Histograms */

._synteny-dotplot-builder #histogram-wrapper {
  float: right;
  width: 50%;
}
._synteny-dotplot-builder .histogram {
  width: 100%;
  height: 75%;
}
._synteny-dotplot-builder .histogram .histogram-title {
  font-size: 14pt;
}
/* axis ticks for histograms */
._synteny-dotplot-builder .histogram .tick line {
  stroke: grey;
}


/* Forms */

._synteny-dotplot-builder #form-wrapper {
  position: absolute;
  bottom: 10;
  right: 10;
  width: 50%;
  height: 12%
}
._synteny-dotplot-builder form {
  display: inline;
}
