/* Global rules */
._synteny-dotplot-builder {
	width: 100%;
	height: 100%;
}

/* Brushes */
._synteny-dotplot-builder .extent {
  fill: grey;
  opacity: .2;
}
/* axes */
._synteny-dotplot-builder .domain {
  fill: none;
  stroke: black;
}

/* Borders and background */
._synteny-dotplot-builder .dotplot, 
._synteny-dotplot-builder #histogram-and-top-form,
._synteny-dotplot-builder #form-wrapper
{
  /* background-color: #F5F5F5;*/
  border: 1px solid #119911;
  border-radius: 0px;
  box-sizing: border-box;
}

/* Dot plot */

/* The float and position properties here are black magic to get the 
 * canvas and svg to sit on top of each other. */
._synteny-dotplot-builder .dotplot {
  float: left;
  position: relative;
}
._synteny-dotplot-builder .dotplot:not(#dotplot) {
  float: left;
  position: absolute;
}
._synteny-dotplot-builder #dotplot {
  width: 70%;
  height: 100%;
}
/* chromosome boundary lines in dotplot */
._synteny-dotplot-builder #dotplot .tick line {
  stroke: rgba(0,0,0, 0.25);
}


/* Histograms */

._synteny-dotplot-builder .histogram-button-wrapper {
	width: 80%;
	margin-left: 10%
}

._synteny-dotplot-builder .histogram-button {
	position: relative;
  float: left;
	width: 10%;
	color: grey;
}
._synteny-dotplot-builder #histogram-button-title {
	position: relative;
  float: left;
	width: 80%;
  text-align: center;
}

._synteny-dotplot-builder .hidden {
    display: none;
}

._synteny-dotplot-builder .pressed {
	color: black;
}

._synteny-dotplot-builder #histogram-and-top-form {
  float: right;
  width: 28.5%;
  height: 65%;
}
._synteny-dotplot-builder #histogram-wrapper {
  float: right;
  width: 100%;
  height: 90%;
}
._synteny-dotplot-builder .histogram {
  position: relative;
  width: 100%;
  height: 100%;
}
._synteny-dotplot-builder .histogram .histogram-title {
  font-size: 14pt;
}
/* axis ticks for histograms */
._synteny-dotplot-builder .histogram .tick line {
  stroke: grey;
}


/* Forms */

._synteny-dotplot-builder #form-wrapper {
  margin-top: 1.5%;
  float: right;
  width: 28.5%;
  height: auto;
  font-size: 14pt;
}
._synteny-dotplot-builder #form-wrapper-top {
  float: right;
  width: 100%;
  height: 10%;
  font-size: 14pt;
}
._synteny-dotplot-builder form {
  display: inline;
}

#histogram-button-left, 
#histogram-button-right, 
#histogram-button-title {
    margin-top: 2%;
}

#form-wrapper strong,
#form-wrapper text,
#gevo-link,
#gevo-link-xname,
#gevo-link-yname
{
    margin-left: 2%;
}

#gevo-link {
    margin-bottom: 2%;
}
#form-top-label {
    margin-top: 2%;
}
